body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation:
    twinkle 1.5s infinite alternate,
    move 30s linear infinite;
}

@keyframes twinkle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: rotateX(-30deg) rotateY(30deg) translateZ(150px);
  }
  100% {
    transform: rotateX(330deg) rotateY(-330deg) translateZ(150px);
  }
}

.Stars {
  position: relative;
  overflow: hidden;
}

.gradient-border {
  position: relative;
  height: 3px;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #555555 10%,
    #ffffff 20%,
    #555555 30%,
    #ffffff 40%,
    #555555 50%,
    #ffffff 60%,
    #555555 70%,
    #ffffff 80%,
    #555555 90%,
    #ffffff 100%
  );
  background-size: 200% 100%;
  animation: gradient-animation 20s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

input:focus {
  border: 2px solid black;
}

.card {
  background-color: #333;
}

.card-body {
  position: relative;
  padding: 20px;
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #ffffff, #555555, #ffffff, #555555) 1;
  animation: rotateBorder 5s linear infinite;
}

.card-body-2 {
  padding: 20px;
  margin: auto;
  position: relative;
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #ffffff, #555555) 1;
  animation: rotateBorder 5s linear infinite;
}

@keyframes rotateBorder {
  0% {
    border-image-source: linear-gradient(0deg, #ffffff, #555555, #ffffff, #555555);
  }
  50% {
    border-image-source: linear-gradient(180deg, #ffffff, #555555, #ffffff, #555555);
  }
  100% {
    border-image-source: linear-gradient(360deg, #ffffff, #555555, #ffffff, #555555);
  }
}

.btn-warning {
  background-color: #ff803d;
  border-color: #ff803d;
}

.mt-xs-10px {
  margin-top: 10px !important;
}

.mt-sm-0px {
  margin-top: 0px !important;
}

.ml-sm-20px {
  margin-left: 20px !important;
}

.ml-md-0px {
  margin-left: 0px !important;
}
